body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: rgb(70, 69, 69);
    background-image: url('img/background.webp');
    background-size: cover;          /* Ensures the image covers the whole background */
    background-position: center;     /* Centers the background image */
    background-repeat: no-repeat;    /* Prevents the image from repeating */
    background-attachment: fixed;    /* Keeps the background fixed during scrolling */
    height: 100vh;                   /* Ensures the body takes up the entire viewport height */
    margin: 0;                 
}

h1 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 50px;
   
}


canvas {
    background-color: black;
   
}

#new-game-button {
    display: none;  /* Hidden by default */
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 20px;
    background-color: #8a591d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    z-index: 9999;
}

#you-win-image {
  
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
    height: 200px;
    
    z-index: 9999;
}

#you-lose-image {
   
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.1);
    height: 480px;
    width: 720px;
    z-index: 999;
}





.overlay {
    display: none;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    height: 480px;
    width: 720px;
    z-index: 9999;
}


