@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }

  .startscreen-image {
    width: 100%;
  }

  .button-container {
    width: 100%;
  }

  .containerforbuttons {
    width: 100%;
  }

  .overlay {
    width: 105%;
  }

  .inside-overlay {
    width: 100%;
  }

  .modal-content {
    width: 100%;
  }

  .modal-content-imprint {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  .startscreen-image {
    height: 100vh;
  }

  .containerforbuttons {
    height: 100vh;
  }

  .overlay {
    height: 100vh;
  }

  .inside-overlay {
    height: 100vh;
  }

  .modal-content {
    height: 80vh;
    overflow-y: scroll;
  }

  .modal-content-imprint {
    height: 80vh;
    overflow-y: scroll;
  }
}

@media (max-height: 681px) {
  h1 {
    display: none;
  }
}

#rotate-message {
  display: none;
  position: fixed;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 24px;
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
  text-align: center; /* Horizontale Zentrierung */
  display: flex; /* Flexbox für zentriertes Layout */
  justify-content: center; /* Horizontale Zentrierung */
  align-items: center; /* Vertikale Zentrierung */
  animation: rotate-animation 1.5s infinite ease-in-out;
}

/* Keyframes für die Rotation */
@keyframes rotate-animation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(-5deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(5deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
